:root {
    --color-primary: #634385;
    --color-secondary: #b1b1d8;
    --color-tertiary: #babfc9;
    --color-button: #0e6bb8;
    --color-button-hover: #3487ad;
    --color-text: #15111d;
    --color-white: #FFFFFF;
}

/* Estilos gerais */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    background-color: var(--color-primary);
    display: flex;
    justify-content: center;
    align-items: center;
}

.main-content {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
}

/* Banner */
.header-banner {
    flex: 05%;
    display: flex;
    justify-content:center;
    align-items: center;
    height: auto; 
    width: 100%;
    padding: 60px;
    opacity: 0.6;
}

/* Seção de entrada */
.input-section {
    flex: 60%;
    background-color: var(--color-secondary);
    border: 1px solid #000;
    border-radius: 64px 64px 0 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    width: 100%;
}

.section-title {
    font-family: "Inter", serif;
    font-size: 36px;
    font-weight: 700;
    color: var(--color-primary);
    margin: 10px 0;
    text-align: center;
}

/* Contêineres de entrada e botão */
.input-wrapper {
    display: flex;
    justify-content: center;
    width: 100%;
    max-width: 600px;
    margin-top: 20px;
}

.input-name {
    width: 150%;
    padding: 50px;
    border: 50px solid #1d1c1c;
    border-radius: 25px 0 0 25px;
    font-size: 10px;
}

.button-container {
    width: 300px;
    justify-content: center;
}

/* Estilos de entrada de texto */
.input-title {
    flex: 1;
    padding: 10px 15px;
    font-size: 16px;
    border: 5px solid #333;
    border-right: none;
    border-radius: 20px 0 0 20px;
    font-family: "Merriweather", serif;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.4);
}

/* Estilos de botão */
button {
    padding: 15px 30px;
    font-family: "Inter", sans-serif;
    font-size: 16px;
    border: 2px solid #000;
    border-radius: 25px;
    box-shadow: 0 4px 8px rgba(5, 0, 0, 0.3);
    cursor: pointer;

}

.button-add {
    background-color: var(--color-tertiary);
    color: var(--color-text);
    border-radius: 0 25px 25px 0;
}

.button-add:hover {
    background-color: #dad3d3;
}

/* Listas */
ul {
    list-style-type: none;
    color: var(--color-text);
    font-family: "Inter", sans-serif;
    font-size: 18px;
    margin: 20px 0;
    border-radius: 25px;
}

.result-list {
    margin-top: 15px;
    color: #000000;
    font-size: 22px;
    font-weight: bold;
    text-align: center;
}

/* Botão de sortear título */
.button-draw {
    display: flex   ;
    align-items: center;
    width: 70%;
    padding: 10px 40px;
    color: var(--color-white);
    background-color: var(--color-button);
    font-size: 16px;
    border-radius: 25px;
    
}

.button-draw img {
        margin-right: 20px; /* Ajuste a margem se necessário */
        width: 30px; /* Ajuste o valor para diminuir ou aumentar o tamanho da imagem */
        height: auto; /* Isso garante que a imagem mantenha sua proporção */
    }

.button-draw:hover {
    background-color: var(--color-button-hover);
}
